<div> Hello! </div>
<h1> Ian Husted </h1>
	<p> I go to Occidental College. </p>
	<p> I like being a student. </p>
	<p> I really want to work at Google. </p>
	<ul>
		<% ['apples', 'oranges', 'bananas'].each do |fruit| %>
			<li>I like to eat <%= fruit %></li>
		<% end %>
	</ul>
	<ol>
		<% ['January','February','March'].each do |month| %>
			<li>I have friends born in <%= month %></li>
		<%end %>
	</ol>
	<p> <% ['1,','2,','3'].each do |length| %>
		 <%= length %>
		<%end%>
	</p>